@model JobBoard.Models.Member

@{
	ViewData["Title"] = "Edit";
}
<section class="section-hero overlay inner-page bg-image" style="background-image: url('../assets/images/hero_1.jpg');" id="home-section">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<h1 class="text-white font-weight-bold">Edit your Account</h1>
				<div class="custom-breadcrumbs">
					<a asp-action="index" asp-controller="home">Home</a> <span class="mx-2 slash">/</span>
					<span class="text-white"><strong></strong>Member Edit</span>
				</div>
			</div>
		</div>
	</div>
</section>

<div style="margin-left:50px;margin-right:50px;margin-bottom:200px;margin-top:100px">

	<h1>Edit  </h1>

	<h4>Your Account Info</h4>
	<hr />
	<div class="row">
		<div class="col-md-12">
			<form asp-action="Edit" enctype="multipart/form-data">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<input type="hidden" asp-for="Id" />
				<div class="form-group">
					<label asp-for="Fullname" class="control-label"></label>
					<input asp-for="Fullname" class="form-control" />
					<span asp-validation-for="Fullname" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="ImageFile" class="control-label"></label>
					<input asp-for="ImageFile" class="form-control" />
					<span asp-validation-for="ImageFile" class="text-danger"></span>
					<img style="width:150px; margin-top:30px"  src="~/uploads/users/@Model.Image" />
				</div>				
				<div class="form-group">
					<label asp-for="CvFile" class="control-label"></label>
					<input asp-for="CvFile" class="form-control" />
					<span asp-validation-for="ImageFile" class="text-danger"></span>
					<h6 style="margin-top:30px">Open pdf File</h6>
					<a href="~/uploads/member/cv/@Model.Cv">@Model.Fullname Pdf</a>
				</div>
				<div class="form-group" style="margin-left:700px">
					<input type="submit" value="Save" class="btn btn-primary" />
				</div>
			</form>
		</div>
	</div>



</div>




