@model List<Supports>
@{
    ViewData["Title"] = "Index";
    int count = 0;
}

<div style="margin-bottom:200px;margin-top:50px;margin-left:20px;margin-right:20px">
	<div class="d-flex justify-content-between align-content-center">

		<h3>Supports Companies:</h3>
	 <a asp-action="create" asp-controller="SupportsCompany" class="btn btn-primary"> <i class="bi bi-plus-square-dotted"></i> </a>
	</div>

	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Image</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				count++;


					<tr>
						<th scope="row">@count</th>
						<td>
							<img style="width:150px" src="~/uploads/supports/@item.Image"/>
							</td>
						<td>
						<a asp-action="update" asp-controller="SupportsCompany" asp-route-id="@item.Id" class=" text-success" style="font-size:30px"> <i class="bi bi-pencil-square"></i> </a>
						<a asp-action="delete" asp-controller="SupportsCompany" asp-route-id="@item.Id" class="deletebtn text-danger" style="font-size:30px"> <i class="bi bi-trash3-fill"></i> </a>
						</td>
					</tr>
			}
		</tbody>
	</table>






</div>
