@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
}


<section class="section-hero overlay inner-page bg-image" style="background-image: url('../assets/images/hero_1.jpg');" id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-white font-weight-bold">Restart Password</h1>
                <div class="custom-breadcrumbs">
                    <a asp-action="index" asp-controller="home">Home</a> <span class="mx-2 slash">/</span>
                    <span class="text-white"><strong>Restart Password</strong></span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="mb-12">Reset Password</h2>
                <form class="user" method="post">
                    <div class="form-group">
                        <input asp-for="NewPassword" class="form-control form-control-user"
                               placeholder="Enter new Password">
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="ConfirmPassword" class="form-control form-control-user"
                               placeholder="RE-Enter new Password">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <button type="submit" class="btn btn-primary btn-user btn-block">
                        Reset Password
                    </button>
                </form>
                <hr>

                <div class="text-center">
                    <a class="small" asp-action="login" asp-controller="account">Already have an account? Login!</a>
                </div>
            </div>
        </div>
    </div>
</section>

